<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
<div class="dashboard-container">
    <h2>Welcome, <span th:text="${username}"></span>!</h2>
    <nav>
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/find_taxi}">Find a Taxi</a></li>
            <li><a th:href="@{/chat}">Chat</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
</div>
</body>
</html>